<link rel="stylesheet" href="/css/register.css">
<div class="margin__top50 center">
    <form method="POST" id="login" class="form">
        <p class="title">Login </p>
        <p class="message">Login now and get full access to our app. </p>
        <label>
            <input name="username" class="input" type="username" placeholder="" required="">
            <span>Username</span>
        </label>

        <label>
            <input name="password" class="input" type="password" placeholder="" required="">
            <span>Password</span>
        </label>
        <button type="submit" form="login" class="submit">Submit</button>
        <p class="signin">Don't have an account?<a href="#">Signin</a> </p>
    </form>
</div>