<link rel="stylesheet" href="/css/register.css">
<div class="margin__top50 center">
    <form method="POST" id="register" class="form">
        <p class="title">Register </p>
        <p class="message">Signup now and get full access to our app. </p>
        <div class="flex">
            <label>
                <input name="firstname" class="input" type="text" placeholder="" required="">
                <span>Firstname</span>
            </label>

            <label>
                <input name="lastname" class="input" type="text" placeholder="" required="">
                <span>Lastname</span>
            </label>
        </div>
        <label>
            <input name="username" class="input" type="username" placeholder="" required="">
            <span>Username</span>
        </label>

        <label>
            <input name="email" class="input" type="email" placeholder="" required="">
            <span>Email</span>
        </label>

        <label>
            <input name="password" class="input" type="password" placeholder="" required="">
            <span>Password</span>
        </label>
        <label>
            <input name="confirm_password" class="input" type="password" placeholder="" required="">
            <span>Confirm password</span>
        </label>
        <button type="submit" form="register" class="submit">Submit</button>
        <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
    </form>
</div>