<p>
    White player: {{#if room.white_player}} {{room.white_player}} {{else}} No player {{/if}}
</p>

<p>
    Black player: {{#if room.black_player}} {{room.black_player}} {{else}} No player {{/if}}
</p>